ul {
  list-style: none;
  padding: 20;
}

li {
  background: #111a68;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

li:hover {
  background: #2f3bac;
}

.task-list.urgente {
  border: 3px solid red;
}

.task-list.alta {
  border: 3px solid orange;
}

.task-list.media {
  border: 3px solid yellow;
}

.task-list.baixa {
  border: 3px solid green;
}

.task-list h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
