.task-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgba(115, 143, 221, 0);
  padding: 20px;
  border-radius: 20px;
}

.task-list {
  width: 200px;
  min-height: 300px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

.urgente {
  background-color: #ff4d4d;
}
.alta {
  background-color: #ffae42;
}
.media {
  background-color: #e2e22d;
}
.baixa {
  background-color: #99ff99;
}
